<!-- <!-- <!-- <div>
<section class="about-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="about__text about__page__text">
                    <div class="section-title">
                        <span>WHO WE ARE</span>
                        <h3>Our Target Demographic</h3>
                    </div>
                    <div class="about__para__text">
                        <p><b>Age:</b> 17 – 25 years   <b>Gender: </b> Female<br><br>
                            <b>Education level: </b>Final year SHS and University students
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="about__page__services">
                    <div class="about__page__services__text">
                        <p>The discussion around women in leadership has intensified over the past few years with concepts such as
                         “breaking the glass ceiling”, women having “a seat at the table” and “leaning in”.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <img src="img/services/services-5.png" alt="">
                                <h4>The <b>BRAVE </b>Mission</h4>
                                <p>Our mission is to encourage young Ghanaian women to set higher standards for themselves with a strong belief in fulfilling their 
                                    entrepreneurial dreams and career aspirations. We aim to implement this mission by:<br></p>
                                    <ul>
                                        <b><i>Connecting</i></b>
                                       <br> <li><span>by creating a hub, which facilitates conversations between young female millennials 
                                            and leading female figures in our society who inspire a new generation of female leaders.</span>
                                        </li>
                                       <b><i>Inspiring</i></b> 
                                       <br> <li><span>young women in our society to build their confidence, sense of value for their future career aspirations.
                                        </span></li>
                                       <b><i> Empowering</i></b>
                                      <br>  <li><span>by providing practical skills training and technical knowledge through masterclass workshops and
                                             internship opportunities in order to harness real life experiences.</span></li>
                                    </ul>
                                <!-- </p> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <img src="img/services/services-6.png" alt="">
                                <h4>The <b>BRAVE</b> Vision</h4>
                                <p>Our vision is to be an opportunity hub for young Ghanaian women that enables them to set higher standards for themselves,
                                     with a strong belief in fulfilling their entrepreneurial dreams and career aspirations. We hope this vision becomes a reality
                                      through:</p><br>
                                      <ul>
                                        <b><i>Economic Empowerment</i></b>
                                       <br> <li><span>Economic empowerment to reduce the prevalence of unemployment among the youth.</span>
                                        </li><br>

                                       <b><i>Raising Leaders</i></b> 
                                       <br> <li><span>Shape and raise more female leaders among various sectors</span></li><br>

                                       <b><i>Provision of Skills</i></b>
                                      <br>  <li><span>Provide business skills & know-how that would otherwise be available to a selected few </span></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>   -->
<p>it works </p>