<div>
<footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="footer__top__text">
                        <h2>Sign Up for Our Newsletter</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer__top__newslatter">
                        <form action="#">
                            <input type="text" placeholder="Enter your email...">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Connect . Inspire . Empower <br />with us via our socials:</p>
                    <ul>
                        <li>hello@braveconnect.org</li>
                        <li>+233 20 123 4567</li>
                    </ul>
                    <div class="footer__social">
                        <a href="https://web.facebook.com/braveconnectgh/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/braveconnectgh"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/braveconnectgh/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/braveconnectgh/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">                       
                    <ul>
                        <li><a href="./sanitarypad-bank.html">Sanitary Pad Bank</a></li>                          
                        <li><a href="./brave-magazine.html">Brave Magazine</a></li>
                        <li><a href="./braventure-builder.html">Braventure Builder</a></li>
                        <li><a href="./campus-tour">Campus Tour</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">                     
                    <ul>
                        <li><a href="#">Summer Camp</a></li>
                        <li><a href="#">Sincerely Brave</a></li>
                        <li><a href="#">Masterclass</a></li>
                        <li><a href="#">Annual Summit</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__address">                                        
                    <ul>
                        <li>Do get in touch with us</li>
                        <li>More than glad to connect with you</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="copyright__text">
                        <p>Copyright © <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | The Brave Project (website designed) by <a href="https://abc-digital.netlify.app"
                        target="_blank">ABC-Digital</a>
                    </p>
                </div>
            </div>
           
        </div>
    </div>
</div>
</footer>
</div>