<!-- <section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="blog__details__content">
                    <div class="blog__details__title">
                        <ul>
                            <li>CONNECT</li>
                            <li>INSPIRE</li>
                            <li>EMPOWER</li>
                        </ul>
                        <h2>END PERIOD POVERTY: A SINCERËLY BRAVE PROJECT</h2>
                        <img src="images/projects/sincerely-brave/sincerely-brave-1.jpg" alt="">
                        <p>The genesis of the #SincerelyBRAVEProject and donation to the community of Minya in Ningo-Prampram started with 
                        Faustina Boamah, a midwife who attended our digital skills workshop last year, in October, 2020.
                        </p>
                    </div>
                    <div class="blog__details__text">
                        <p>Faustina told us about the Minya community and the dire situation there. The community is faced with rampant cases
                        of teenage pregnancies. The young girls are usually exploited by the men in the community, mostly due to the 
                        lack of easy access to some basic needs such as sanitary pads and school necessities, etc.
                        </p>
                        <p>The BRAVE team and I decided to search and partner with a sanitary pad brand, that is fresh, has that big
                         “sister appeal” and also willing to collaborate with us to make a meaningful impact.
                          Sincerely Pads by Menaye, was the perfect partner, hence the SincerelyBRAVE Project.
                        </p>
                    </div>
                    <div class="blog__item__quote">
                        <p>“Menstruation is still a taboo topic in many parts of the world and millions of girls and women still 
                            lack adequate sanitation as well as access to menstrual products.Let's end period poverty, period! ”</p>
                        <span>PROJECT BRAVE</span>
                    </div>
                    <div class="blog__details__text">
                        <p>For our visit to Minya, Sincerely pads provided us with over a 1000 pads. 
                            In support of this initiative was our resource person, Dr.Hannahlisa, who engaged the girls on issues
                             such as menstrual hygiene, sexual reproductive health and abstinence.
                        </p>
                        <p>Menaye Donkor-Muntari and myself will be embarking on various such activities over the next couple of months. 
                            A big thank you to all our team members and everyone who helped to make this a success.
                        </p>
                    </div>
                    <div class="blog__details__pic">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="images/projects/sincerely-brave/sincerely-brave-2.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="images/projects/sincerely-brave/sincerely-brave-3.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="images/projects/sincerely-brave/sincerely-brave-4.jpg" alt="">
                            </div>
                        </div>
                    </div>             
                            
                        </div>
                    </div>
                    <div class="blog__details__author">
                        <div class="blog__details__author__pic">
                            <img src="images/projects/sincerely-brave/Tracy-Owusu-Addo.png" alt="">
                        </div>
                        <div class="blog__details__author__text">
                            <h5>Tracy Owusu-Addo</h5>
                            <p>"With our commitment to action at Brave Connect Ghana,under our “End Period Poverty” initiative, 
                                we aim to provide access to menstrual products through our sanitary pad bank."</p>
                        </div>                            
                    </div>                        
                    <div class="col-lg-12 text-center">
                        <a href="./gallery.html" class="primary-btn normal-btn">View More</a>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div>
</section> -->
